<p>sign-up works!</p>

<form (ngSubmit)="onSubmit()">
    <fieldset>
        <label for="user-first-name">First name</label>
        <input id="user-first-name" name="user-first-name" type="text" [(ngModel)]="newUser.firstName" required minlength="3" maxlength="15">
    </fieldset>
    <fieldset>
        <label for="user-last-name">Last name</label>
        <input id="user-last-name" name="user-last-name" type="text" [(ngModel)]="newUser.lastName" required minlength="3" maxlength="15">
    </fieldset>
    <fieldset>
        <label for="user-email">Email</label>
        <input id="user-email" name="user-email" type="email" [(ngModel)]="newUser.email"required email>
    </fieldset>
    <fieldset>
        <label for="user-password">Password</label>
        <input id="user-password" name="user-password" type="text" [(ngModel)]="newUser.password" required>
    </fieldset>
    <button type="submit">Sign Up</button>
</form>